.container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.form{
    width: 100%;
    height: fit-content;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   border-radius: 20px;
    background-color: #FFFFFF;
}

.incorrect-email{
    color: #774442;
    font-size: 16px;
}

.actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions button{
    width: 200px;
    background-color: #F08080;
    color: #FFFFFF;
}

.actions span{
    font-size: 18px;
    cursor: pointer;
    color: rgba(127, 125, 125, 0.93);
}

.form-field{
    width: 100%;
    margin: 10px 0;
}

.form input{
    width: 100%;
    padding: 12px 30px;
    outline: none;
    border: 3px solid #eeee;
    border-radius: 2px;
    font-size: 19px;
    margin-top: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title p{
    font-size: 19px;
}

.title span{
    cursor: pointer;
}

.label{
    font-size: 16px;
    color: rgba(127, 125, 125, 0.93);
}

