<div class="container">

        <form class="form" [formGroup]="form">

            <div class="title">
                <p>{{new_account == false ? 'Login' : 'Create Account' }}</p>
                <span (click)="close()"><mat-icon>close</mat-icon></span>
            </div>

            <h1 class="incorrect-email">{{user}}</h1>

            <div class="form-field">
                <label class="label">Email</label>
                <input
                        required
                        formControlName="email"
                       placeholder="user@email.com">
            </div>

            <div class="form-field">
                <label class="label">Password</label>
                <input
                        required
                        formControlName="password"
                        placeholder="*********"
                       type="password">
            </div>

            <div class="form-field" *ngIf="new_account">
                <label class="label">User name</label>
                <input
                        autocomplete="off"
                        name="user_name"
                        formControlName="user_name"
                        placeholder="user@email.com">
            </div>

            <div class="form-field" *ngIf="new_account">
                <label class="label">User avatar</label>
                <input
                        autocomplete="off"
                        name="user_name"
                        formControlName="avatar"
                        placeholder="https://avatar.png">
            </div>

            <div class="actions">
                <button mat-button (click)="login()" *ngIf="!new_account">Login</button>
                <button mat-button (click)="createAccount()" [disabled]="!form.valid" *ngIf="new_account">Create account</button>

                <span (click)="newAccountForm()" *ngIf="!new_account">Create account</span>
                <span (click)="loginForm()" *ngIf="new_account">Login</span>
            </div>

        </form>
    </div>
