.header{
    background-color: #F08080;
    display: flex;
    flex-direction: row;
}

.header a{
    text-decoration: none;
    color: #000;
    align-items: center;
    justify-content:center;
    display: flex;
}

.header img{
    width: 30px;
    margin: 0px 10px;
}
