<div class="container">
    <div class="content">
        <form class="form" [formGroup]="form">
            <p>Nova tarefa</p>
            <mat-form-field >
              <mat-label>Nome</mat-label>
              <input
                      matInput
                      placeholder="Ex. Estudar java"
                      formControlName="name"
              >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input matInput
                        name="descricao"
                       matInput
                       placeholder="Estudar java com springBoo"
                       formControlName="description"
                placeholder="Ex. Estudar java para o simulado">
              </mat-form-field>

              <div class="botoes">
                <button mat-raised-button class="btn-salvar" (click)="salvar()">Salvar</button>
                <button mat-raised-button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
              </div>

          </form>
    </div>
</div>

