<app-header></app-header>

<div class="contaienr">
    <div class="content">
        <form class="form">
            <p>Deletar tarefa {{todo.id}}</p>
            <mat-form-field >
              <mat-label>Nome</mat-label>
              <input 
                matInput 
                disabled
                name="nome"
                [(ngModel)]="todo.nome"
                >
            </mat-form-field>

            <mat-form-field >
                <mat-label>Descrição</mat-label>
                <input 
                    matInput 
                    disabled
                    name="descricao"
                    [(ngModel)]="todo.descricao"
                >
            </mat-form-field>

            <mat-form-field >
                <mat-label>Status</mat-label>
                <input 
                matInput 
                disabled
                name="status"
                [(ngModel)]="todo.status"
                >
            </mat-form-field>

              <mat-form-field >
                <mat-label>Data para Finalizar</mat-label>
                <input 
                    matInput 
                    disabled
                    name="dataFinalizar"
                    [(ngModel)]="todo.dataFinalizar"
                >
              </mat-form-field>

              <div class="botoes">
                <button mat-raised-button class="btn-salvar" (click)="deletar()" >Deletar</button>
                <button mat-raised-button class="btn-cancelar" (click)="cancelar()" >Cancelar</button>
              </div>
              
          </form>
    </div>
</div>

<app-footer></app-footer>