
<div class="lista-container">
    <div class="listar-content">
        <div class="botao">
                <button mat-raised-button class="btn-novo" (click)="newTask()">Nova tarefa</button>

        </div>

        <mat-card class="card" *ngFor="let task of tasks">
            <div class="div">
                <mat-card-title>{{task.name}}</mat-card-title>
                <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
                <mat-card-subtitle>Opening date: {{task.opening | date}}</mat-card-subtitle>
            </div>

            <div class="div2">
                <div class="btns">
                    <button mat-mini-fab matTooltip="Concluir tarefa" (click)="concluir(task.task_id,task)">
                            <mat-icon>check</mat-icon>
                    </button>

                     <button mat-mini-fab class="btn-delete" (click)="deletar(task.task_id)"  matTooltip="Deletar tarefa">
                            <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card>
    </div>
</div>

