<app-header></app-header>

<div class="container">
    <div class="content">
        <div class="text">
            <p>A place to stay organized.</p>
            <p> Don't miss any of your tasks.</p>
            <button mat-raised-button (click)="loginPage()">Get started</button>
        </div>

        <div class="img">
            <img src="../../../assets/home-todo.svg">
        </div>

    </div>

    <div class="content invers">

        <div class="img">
            <img src="../../../assets/home-todo2.svg">
        </div>

        <div class="text">
            <div class="text-content">
                <p>Developed by Ana Karolina</p>
                <p>Using the following technologies:</p>
                <div class="tec">
                    <mat-icon>check_circle</mat-icon>
                    <p>NestJs</p>
                </div>
                <div class="tec">
                    <mat-icon>check_circle</mat-icon>
                    <p>Angular</p>
                </div>

            </div>
            <a href="https://www.linkedin.com/in/karolina104016/" target="_blank">
                <button mat-raised-button>Contacts</button>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>

