
<div class="lista-container">
    <div class="listar-content">
        <div class="botao">
            <a routerLink="/novo-todo">
                <button mat-raised-button class="btn-novo">Nova tarefa</button>
            </a>

            <a routerLink="/tasks/close">
                <button mat-raised-button class="btn-final">Finalizados</button>
            </a>

            <a routerLink="/tasks">
                <button mat-raised-button class="btn-open">Abertos</button>
            </a>
        </div>

        <mat-card class="card" *ngFor="let task of taskCompleted">
            <div class="div">
                <mat-card-title>{{task.name}}</mat-card-title>
                <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
                <mat-card-subtitle>{{task.opening}}</mat-card-subtitle>
                <mat-card-subtitle>{{task.completion_date}}</mat-card-subtitle>
            </div>

            <div class="div2">
                <div class="btns">
                    <button mat-mini-fab >
                        <a routerLink="/editar-tarefa/{{task.task_id}}">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </button>

                     <button mat-mini-fab class="btn-delete">
                         <a routerLink="/editar-tarefa/{{task.task_id}}">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
