<app-header></app-header>

<div class="lista-container">
    <div class="listar-content">
        <div class="botao">
            <a routerLink="/novo-todo">
                <button mat-raised-button class="btn-novo">Nova tarefa</button>
            </a>

            <a routerLink="/meus-todos-finalizados">
                <button mat-raised-button class="btn-final">Finalizados</button>
            </a>

            <a routerLink="/meus-todos">
                <button mat-raised-button class="btn-open">Abertos</button>
            </a>
        </div>
        
        <mat-card class="card" *ngFor="let todo of todoFinalizado">
            <div class="div">
                <mat-card-title>{{todo.nome}}</mat-card-title>
                <mat-card-subtitle>{{todo.descricao}}</mat-card-subtitle>
                <mat-card-subtitle>{{todo.status}}</mat-card-subtitle>
            </div>
            <div class="div2">
                <p>Finalizado em: {{todo.dataFinalizar}}</p>
                <div class="btns">
                    <button mat-mini-fab >
                        <a routerLink="/editar-tarefa/{{todo.id}}">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </button>
                    
                     <button mat-mini-fab class="btn-delete">
                        <a routerLink="/deletar-tarefa/{{todo.id}}">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </button>

                </div>
                
            </div>
        </mat-card>
    </div>
</div>
<app-espaco></app-espaco>
<app-footer></app-footer>